{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="site-section endpage-start">
	<div class="grid-container">
		<div class="grid-25 suffix-5 tablet-grid-30 tablet-suffix-5 sub-menu-holder">
			<ul class="sub-menu sub-menu"><li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-903"><a href="https://www.thecfigroup.com/about-us/global-reach/">Global Reach</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1105"><a href="https://www.thecfigroup.com/about-us/sector-focus/">Sector focus</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-902"><a href="https://www.thecfigroup.com/about-us/global-management/">Global Management</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1104"><a href="https://www.thecfigroup.com/about-us/ownership-and-governance/">Ownership and Governance</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1103"><a href="https://www.thecfigroup.com/about-us/history/">History</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7267"><a href="https://www.thecfigroup.com/about-us/conferences/">Conferences</a></li>
</ul>		</div>
		<div class="grid-70 tablet-grid-65">
			
					<h1>About us</h1>
					
					<p>Corporate Finance International (CFI) is a trusted advisor to the middle-market providing worldwide M&amp;A advice on sell-side and buy-side transactions for its clients. CFI was founded in 2006 with a global objective. We continue to build long-term relationships with companies and collaborate with executives who are looking to sell their businesses, raise additional capital, or grow strategically.</p>
<p>Our greatest strength comes from our rich history and partnership with 14 independent investment banks based in 18 different countries. Our goal is to remain local while being able to leverage our international network to maximize value for our clients. This allows us to support the strategy and the development of our clients on a global scale.</p>
<p>CFI encompasses over 250 investment-banking professionals that are proud to be working alongside successful businesses and investors. Each CFI member operates independently which guarantees first-class advice and service.</p>
<h3 style="text-align: left;">CFI in a summary:</h3>
<ul>
<li style="list-style-type: none;">
<ul>
<li>Global reach with local offices in 18 countries.</li>
<li>250 dedicated professionals in the core M&amp;A markets across the Americas, Europe, and Asia.</li>
<li>An experienced, partner-owned firm with numerous years of experience.</li>
<li>Integrated teams with a deep focus on 16 targeted <a href="https://www.thecfigroup.com/sector/">sectors.</a></li>
<li>A culture that fosters collaboration and long-term personal relationships on a global scale.</li>
</ul>
</li>
</ul>
<ul>
<li style="list-style-type: none;"></li>
</ul>

						</div>
	</div>
</section>
{% endblock %}
