{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="site-section endpage-start">
	<div class="grid-container flexb">
		<div class="grid-70 tablet-grid-70 flexb-item">
			<div class="flexb-item-inner">
				
						<h1>Locations</h1>
						
						
					<script src="js/d3.v3.min.js"></script>
					<script src="js/topojson.v1.min.js"></script>
					<script src="//datamaps.github.io/scripts/datamaps.world.min.js?v=1"></script>
				
			<div id="container-maps-cficountries"></div>
			<script>
				//basic map config with custom fills, mercator projection
				var svgwidth = $('#container-maps-cficountries').width();
				var svgheight = Math.round(svgwidth/7*5);

				var map = new Datamap({
					scope: 'world',
					element: document.getElementById('container-maps-cficountries'),
					projection: 'mercator',
					height: svgheight,
					fills: {
						defaultFill: "#f2f2f2",
						cfiCountry: "#3e495a"
					},
					geographyConfig: {
						popupOnHover: false,
						popupTemplate: function(geography, data) {
							if (!data) return;
							var hovertext = geography.properties.name;
							if (!empty(data.cfiname)) hovertext = data.cfiname;
							return '<div class="hoverinfo"><strong>CFI ' + hovertext + '</strong></div>';
						},
						popupOnHover: true, //disable the popup while hovering
						highlightOnHover: false, //WAS TRUE
						highlightFillColor: '#ff0000',
						borderWidth: 1,
						borderOpacity: 1,
						borderColor: '#a5aab2'
					},
					done: function(datamap) {
						datamap.svg.selectAll('.datamaps-subunit').on('click', function(geography) {
							var localData = datamap.options.data[geography.id];
							var countrylink = '';
							if ( localData && localData.cfiname && !localData.linktext ) {
								countrylink = localData.cfiname.toLowerCase();
							} else if (localData.linktext) {
								countrylink = localData.linktext.toLowerCase();
							} else {
								countrylink = geography.properties.name.toLowerCase();
							}
							countrylink = countrylink.replace(' ','-');

							if (localData.openlink) {
								window.open('https://www.thecfigroup.com/country/'+countrylink+'?lang=en', '_self');
							}
						});
					},
					data: {
						NLD: {
							fillKey: "cfiCountry",
							openlink: true,
						},
						BEL: {
							fillKey: "cfiCountry",
							cfiname: "Netherlands",
							openlink: true
						},
						FRA: {
							fillKey: "cfiCountry",
							openlink: true
						},
						ESP: {
							fillKey: "cfiCountry",
							openlink: true
						},
						PRT: {
							fillKey: "cfiCountry",
							openlink: true
						},
						ITA: {
							fillKey: "cfiCountry",
							openlink: true
						},
						DEU: {
							fillKey: "cfiCountry",
							openlink: true
						},
						/* HUN: {
							fillKey: "cfiCountry",
							cfiname: "Hungary",
							openlink: true,
							linktext: "hungary"
						}, */
						BRA: {
							fillKey: "cfiCountry",
							openlink: true
						},
						USA: {
							fillKey: "cfiCountry",
							cfiname: "United States",
							openlink: true
						},
						JPN: {
							fillKey: "cfiCountry",
							openlink: true
						},
						IND: {
							fillKey: "cfiCountry",
							openlink: true
						},
						CHN: {
							fillKey: "cfiCountry",
							openlink: true
						},
						/*EST: {
							fillKey: "cfiCountry",
							cfiname: "Baltics",
							openlink: true,
							linktext: "baltics"
						},*/
						GBR: {
							fillKey: "cfiCountry",
							openlink: true
						},
						/*ROU: {
							fillKey: "cfiCountry",
							cfiname: "Romania",
							openlink: true,
							linktext: "romania"
						},*/
						CHE: {
							fillKey: "cfiCountry",
							openlink: true
						},
						/*LTU: {
							fillKey: "cfiCountry",
							cfiname: "Baltics",
							openlink: true,
							linktext: "baltics"
						},
						LVA: {
							fillKey: "cfiCountry",
							cfiname: "Baltics",
							openlink: true,
							linktext: "baltics"
						},*/
						POL: {
							fillKey: "cfiCountry",
							openlink: true
						},
						SWE: {
							fillKey: "cfiCountry",
							openlink: true
						},
						FIN: {
							fillKey: "cfiCountry",
							openlink: true
						}
					}
				});

				function empty(val) {
					if (val === undefined)
						return true;

					if (typeof(val) == 'function' || typeof(val) == 'number' || typeof(val) == 'boolean')
						return false;

					if (val == null || val.length === 0) // null or 0 length array
						return true;

					return false;
				}

		</script>
		

									</div>
		</div>
		<div class="grid-5 tablet-grid-5 flexb-item hide-on-mobile">
			<div class="flexb-item-inner aligncenter">
				<div class="vertical-divider"></div>
			</div>
		</div>
		<div class="grid-25 tablet-grid-25 flexb-item aligncenter transaction-sidebar">
			<div class="flexb-item-inner">
				
						<div id="local-adviser" location="https://www.thecfigroup.com/wp-content/themes/cfigroup" country heading="Your local adviser" forceip>
							<div class="grid-container flexb aligncenter">
								<img src="{% static 'fonts/earth-spin.svg' %}" class="world-spinner" style="margin:0 auto;">
								We are looking for your local adviser..<br><br>
							</div>
						</div>
										<h3 class="margb20">General inquiries</h3>
				<div class="team-item addtrans nopadding">
											<div class="zoom-container">
						<img src="{% static 'images/Sonja-Kassies-806x537.jpg' %}" alt>
						<!-- groter formaat pakken! 690px breed! -->
					</div>
					<div class="team-details">
						
								<h2 class="addtrans">Sonja Kassies</h2>
								<div class="team-social">
									<a href="https://www.linkedin.com/in/sonja-kassies-2a7095b/" target="_blank" class="flaticon-linkedin"></a> <a href="mailto:sonja.kassies@thecfigroup.com" target="_blank" class="flaticon-mail"></a> <a href="tel:+31 (0)6 13 22 47 35" target="_blank" class="flaticon-phone"></a> 
									<div class="tooltip-phone"></div>
								</div>
													</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="site-section bglightgrey">
	<div class="grid-container aligncenter">
		<h2 class="section-heading">Our offices</h2>

		<div class="grid-container offices-box flexb aligncenter">

			
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/netherlands/">Amsterdam</a></h3>
										<p>Amstelzijde 85<br>
1184 TZ Amstelveen<br>
The Netherlands<br>
T: +31882060330<br>
E: info@thecfigroup.com</p>
<p><a href="https://www.thecfigroup.com/news/privacy-statement-cf-benelux-b-v/">Privacy statement</a></p>

										<a href="https://www.thecfigroup.com/country/netherlands/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/netherlands/">Brussels</a></h3>
										<p>Zuiderlaan 14<br>
B-1731 Zellik<br>
Belgium<br>
T: +32 (0)495 59 49 52<br>
E: info@thecfigroup.com</p>
<p>&nbsp;</p>

										<a href="https://www.thecfigroup.com/country/netherlands/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/united-kingdom/">Cardiff</a></h3>
										<p>3 Assembly Square<br>
Britannia Quay<br>
CF10 4PL<br>
United Kingdom<br>
+44 (0)845 643 5500<br>
info@uk.thecfigroup.com</p>
<p><a href="https://www.thecfigroup.com/privacy-statement-cfi-united-kingdom/">Privacy statement</a></p>

										<a href="https://www.thecfigroup.com/country/united-kingdom/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/united-states/">Chicago</a></h3>
										<p>120 S Riverside<br>
Suite 2100<br>
IL 60606<br>
United States<br>
T: +1 312.602.3600<br>
E : info@thecfigroup.com<br>
W:<a href="http://www.pmcf.com"> www.pmcf.com</a></p>

										<a href="https://www.thecfigroup.com/country/united-states/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/united-states/">Denver</a></h3>
										<p style="margin: 0cm; margin-bottom: .0001pt;">8181 E. Tufts Avenue<br>
Suite 600<br>
Denver, Colorado 80237</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">United States<br>
T: + 1 720 370 8181<br>
E: info@thecfigroup.com</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">W: <a href="http://pmcf.com/">www.pmcf.com</a></p>

										<a href="https://www.thecfigroup.com/country/united-states/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/united-states/">Detroit</a></h3>
										<p>Two Towne Square<br>
Suite 425<br>
Southfield, MI 48076<br>
T: +1  248.223.3300<br>
E: info@thecfigroup.com<br>
W: <a href="http://www.pmcf.nl">www.pmcf.com</a></p>

										<a href="https://www.thecfigroup.com/country/united-states/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/germany/">Dusseldorf</a></h3>
										<p>Neuer Zollhof 3<br>
40221 Düsseldorf<br>
Germany<br>
T: +49 211 137070<br>
E: info@thecfigroup.com<br>
W: <a href="https://www.helbling.ch/hba/helbling-corporate-finance-2">www.helbling.de</a></p>
<p>&nbsp;</p>

										<a href="https://www.thecfigroup.com/country/germany/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/sweden/">Gothenburg</a></h3>
										<p>Censor AB Mergers &amp; Acquisitions<br>
Södra Hamngatan 33<br>
SE – 411 14 Göteborg<br>
T: 031 – 42 19 20<br>
E: info@thecfigroup.com</p>

										<a href="https://www.thecfigroup.com/country/sweden/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/finland/">Helsinki</a></h3>
										<p>Uudenmaankatu 7<br>
00120 Helsinki<br>
Finland<br>
T: +358 40 7723556<br>
E: info@thecfigroup.com<br>
W: https://www.initia.fi/en/</p>
<p>&nbsp;</p>

										<a href="https://www.thecfigroup.com/country/finland/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/portugal/">Lisbon</a></h3>
										<p>Av. Nossa Senhora do Rosário,<br>
603 &#8211; Bloco 1 &#8211; 2º M<br>
2750-179 Cascais<br>
Portugal<br>
T: +351 (21) 481-8390<br>
E: info@thecfigroup.com</p>

										<a href="https://www.thecfigroup.com/country/portugal/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/united-kingdom/">London</a></h3>
										<p>23 Berkeley Square<br>
W1J 6HE<br>
United Kingdom<br>
T: +44 (0)845 643 5500<br>
E: info@thecfigroup.com</p>
<p><a href="https://www.thecfigroup.com/privacy-statement-cfi-united-kingdom/">Privacy statement</a></p>

										<a href="https://www.thecfigroup.com/country/united-kingdom/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/spain/">Madrid</a></h3>
										<p>c/ Tambre 16<br>
28002, Madrid<br>
T: +34 91 088 63 01<br>
E: informacion@carlac-capital.com<br>
W: https://carlac-capital.com</p>

										<a href="https://www.thecfigroup.com/country/spain/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/sweden/">Malmö</a></h3>
										<p>Censor AB Mergers &amp; Acquisitions<br>
Skeppsbron 2<br>
SE-211 20 Malmö<br>
T: 031 – 42 19 20<br>
E: <a href="mailto:info@thecfigroup.com">info@thecfigroup.com</a></p>

										<a href="https://www.thecfigroup.com/country/sweden/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/italy/">Milan</a></h3>
										<p>For business opportunities in Italy, please contact CFI France, <a href="https://www.thecfigroup.com/team/jean-marc-teurquetil/" target="_blank" rel="noopener">Jean-Marc Teurquetil</a>.</p>

										<a href="https://www.thecfigroup.com/country/italy/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/india/">Mumbai</a></h3>
										<p>Cama Building, 1st Floor<br>
24/26 Dalal Street, Fort<br>
Mumbai &#8211; 400 001<br>
India<br>
T: +91 22 40770777<br>
E: info@thecfigroup.com</p>

										<a href="https://www.thecfigroup.com/country/india/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/germany/">Munich</a></h3>
										<p>Leonrodstr. 52<br>
DE-80636<br>
T: +49 89 459 29 400<br>
E: info@thecfigroup.com<br>
W: <a href="https://www.helbling.ch/hba/helbling-corporate-finance-2">www.helbling.de</a></p>

										<a href="https://www.thecfigroup.com/country/germany/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/japan/">New York</a></h3>
										<p>250 Park Avenue, 7th Floor,<br>
New York, NY 10177,<br>
United States of America<br>
T: +1-212-572-6410<br>
E: info@thecfigroup.com<br>
W: <a href="http://www.frontier-mgmt.com/">www.frontier-mgmt.com</a></p>

										<a href="https://www.thecfigroup.com/country/japan/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/france/">Paris</a></h3>
										<p>91 rue du Faubourg Saint-Honoré<br>
75008 Paris<br>
France<br>
T: +33 1 44 13 88 00<br>
E: info@thecfigroup.com</p>

										<a href="https://www.thecfigroup.com/country/france/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/brazil/">São Paulo</a></h3>
										<p>Avenue Andrômeda, 885 – 14th Floor<br>
Brascan Building – Alphaville 06473-000<br>
Barueri – São Paulo<br>
Brazil<br>
T: +55 11 3500 5555<br>
E: info@thecfigroup.com</p>

										<a href="https://www.thecfigroup.com/country/brazil/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/china/">Shanghai</a></h3>
										<p style="margin: 0cm; margin-bottom: .0001pt;">Level 29, Shanghai Kerry Centre</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">1515 Nan Jing West Road – Jing An</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">Shanghai 200040</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">P.R. China</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">T:+81 80 3916 3144</p>
<p style="margin: 0cm; margin-bottom: .0001pt;">E: <a href="mailto:info@thecfigroup.com">info@thecfigroup.com</a></p>

										<a href="https://www.thecfigroup.com/country/china/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/japan/">Singapore</a></h3>
										<p>80 Raffles Place, UOB Plaza 1, Level 36-29,<br>
Singapore 048624<br>
T：+65-6248-4885<br>
E: info@thecfigroup.com<br>
W: <a href="http://www.frontier-mgmt.com/">www.frontier-mgmt.com</a></p>

										<a href="https://www.thecfigroup.com/country/japan/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/sweden/">Stockholm</a></h3>
										<p>Censor AB Mergers &amp; Acquisitions<br>
Sveavägen 9, 10th floor<br>
SE – 111 57 Stockholm<br>
T: 031 – 42 19 20<br>
E: info@thecfigroup.com</p>

										<a href="https://www.thecfigroup.com/country/sweden/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/germany/">Stuttgart</a></h3>
										<p>Bolzstrasse 3<br>
DE-70173<br>
Stuttgart<br>
T: +49 711 120 46 80<br>
E: info@thecfigroup.com<br>
W: <a href="https://www.helbling.ch/hba/helbling-corporate-finance-2">www.helbling.de</a></p>

										<a href="https://www.thecfigroup.com/country/germany/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/japan/">Tokyo</a></h3>
										<p>Sumitomo Fudosan Kudan-kita Bldg.<br>
3-2-11 Kudankita, Chiyoda-ku, Tokyo<br>
102-0073 Japan<br>
T: +81-3-3514-1381<br>
E: info@thecfigroup.com<br>
W: <a href="http://www.frontier-mgmt.com/">www.frontier-mgmt.com</a></p>

										<a href="https://www.thecfigroup.com/country/japan/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/poland/">Warsaw</a></h3>
										<p>ul. Śniadeckich 10<br>
00-656 Warsaw<br>
Poland<br>
T: +48 22 218 5900<br>
E:info@thecfigroup.com<br>
W: <a href="http://www.saskipartners.pl/?lang=en">www.saskipartners.com</a></p>

										<a href="https://www.thecfigroup.com/country/poland/"><strong>Visit country page</strong></a>
									</div>
								</div>
							
								<div class="grid-33 tablet-grid-33 flexb-item">
									<div class="offices-item flexb-item-inner aligncenter flexb-aligncenter">
										<h3 class="addtrans equal-height"><a href="https://www.thecfigroup.com/country/switzerland/">Zurich</a></h3>
										<p>Hohlstrasse 614<br>
CH-8048 Zürich<br>
Switzerland<br>
T: +41 44 743 84 44<br>
E: info@thecfigroup.com<br>
W: <a href="https://www.helbling.ch/hba/helbling-corporate-finance-2">www.helbling.ch</a></p>
<p><a href="https://www.thecfigroup.com/privacy-statement-cfi-switzerland/">Privacy statement</a></p>

										<a href="https://www.thecfigroup.com/country/switzerland/"><strong>Visit country page</strong></a>
									</div>
								</div>
										</div>
	</div>

	
</section>

{% endblock %}
